@import "tailwindcss";
@config "../../tailwind.config.ts";
@plugin "@tailwindcss/typography";

/* optional: smoother text rendering */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
